@model bool
@using Models.DTOs

@{
	ViewData["Title"] = "Home Page";
}


@{
	if (Model == false)
	{
		<div>false</div>
	}
	else
	{
		<div>true</div>
	}
}
@*	<div>@ViewBag.Message</div>
	<div>Hej</div>*@
