@using Models.DTOs
@model UserLoginViewModel

<div asp-validation-summary="All" class="text-danger" data-valmsg-summary="true"></div>

<div class="login-container">
	<form method="post" asp-action="Login" class="login-form">


		<div class="form-group">
			<label for="username">Username</label>
			<input asp-for="Username" type="text" class="form-control" id="InputUsername">
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input asp-for="Password" type="password" class="form-control" id="InputPassword" placeholder="Password">
		</div>

		<div class="form-check">
			<input asp-for="RememberMe" type="checkbox" class="form-check-input" id="InputRememberMe" checked>
			<label class="form-check-label" for="RememberMe">Remember me</label>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>

		<div>@ViewBag.Message</div>

	</form>

</div>