@using Models.DTOs
@model UserLoginViewModel

<head>
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
	@*	<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
</head>


@{
	var currentUser = ViewData["CurrentUser"] as Models.Entities.User;
}

@*		<div asp-validation-summary="All" class="text-danger" data-valmsg-summary="true"></div>
*@
@if (currentUser == null)
{
	<div class="login-container">
		<form method="post" asp-action="Login" asp-controller="Account" class="login-form">

			<input asp-for="Username" placeholder="Username" type="text" class="name" id="InputUsername">

			<input asp-for="Password" placeholder="Password" type="password" class="password" id="InputPassword" placeholder="Password">

			<input type="submit" class="submit" value="Login">

		</form>
	</div>
}