@using Models.DTOs
@model UserRegisterDto

@{
	var currentUser = ViewData["CurrentUser"] as Models.Entities.User;
}

<head>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


	@if (currentUser == null)
	{
		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="register-container">
			<form method="post" asp-action="Register" class="register-form">

				<div class="form-group">
					<label for="username">Username</label>
					<input asp-for="Username" type="text" class="form-control" id="InputUsername">
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input asp-for="Password" type="password" class="form-control" id="InputPassword" placeholder="Password">
				</div>

				<div class="form-group">
					<label for="password">Confirm password</label>
					<input asp-for="ConfirmPassword" type="password" class="form-control" id="InputConfirmPassword" placeholder="Confirm Password">
				</div>

				<div class="form-check">
					<input asp-for="RememberMe" type="checkbox" class="form-check-input" id="InputRememberMe" checked>
					<label class="form-check-label" for="RememberMe">Remember me</label>
				</div>

				<button type="submit" class="image-button">
					<img src="~/images/register/btn-create-account.png" alt="create-account-button">
				</button>

			</form>

		</div>
	}

</body>