@using Models.DTOs
@model UserRegisterDto

@{
	var currentUser = ViewData["CurrentUser"] as Models.Entities.User;
}

<head>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container">

		<div class="left-banner-top"><div></div></div>
		<div class="main-content-top"><div></div></div>
		<div class="right-banner-top"><div></div></div>



		<div class="left-banner-mid"><div></div></div>
		<div class="main-content">
			<div class="main-content-items">

				<div class="register-container">

					@if (currentUser == null)
					{
						<div asp-validation-summary="All" class="text-danger"></div>
						<form method="post" asp-action="Register" class="register-form">

							<input asp-for="Username" placeholder="Username" type="text" class="name" id="InputUsername">

							<input asp-for="Password" placeholder="Password" type="password" class="password" id="InputPassword" placeholder="Password">

							<input asp-for="ConfirmPassword" placeholder="Confirm password" class="password" type="password" class="form-control" id="InputConfirmPassword" placeholder="Confirm Password">


							<input type="submit" class="submit" value="Register">

							<div class="form-check">
								<input asp-for="RememberMe" type="checkbox" class="form-check-input" id="InputRememberMe" checked>
								<label class="form-check-label" for="RememberMe">Remember me</label>
							</div>

							<div>@ViewBag.Message</div>

						</form>

					}
				</div>


			</div>
		</div>
		<div class="right-banner-mid"><div></div></div>



		<div class="left-banner-bot"><div></div></div>
		<div class="main-content-bot"><div></div></div>
		<div class="right-banner-bot"><div></div></div>



	</div>

	<script src="~/js/index.js"></script>
</body>

