@using Models.DTOs
@model CreateCharacterDataDto

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/charactercreation.css" asp-append-version="true" />
</head>

<body>
	<div id="create-character-container">
		@if (Model != null)
		{
			<h2>Create Character</h2>
			<h3>Professions</h3>
			<div class="create-character-profession-container">
				@foreach (var profession in Model.Professions)
				{
					string base64String = Convert.ToBase64String(profession.Portrait);
					<div class="profession-container">
						<img class="create-character-profession-icon" src="data:image/png;base64,@base64String" alt="@profession.Name-image" />
						<div class="create-character-profession-name">@profession.Name</div>
						<div class="create-character-profession-desc">@profession.Description</div>
					</div>
				}
			</div>
			<button id="go-back-btn">Go Back</button>



		}
	</div>
	<script src="~/js/createcharacter.js"></script>
</body>