@{
	var currentUser = ViewData["CurrentUser"] as Models.Entities.User;
}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/mainmenu.css" asp-append-version="true" />
</head>

<body>
	<div id="main-menu-container">
		<h1>Shadows of Distrea</h1>
		<button id="play-game-btn">Play</button>
	</div>
</body>