@using Fantasy_Land_Web_Client.ViewModels
@using Newtonsoft.Json
@model CreateCharacterViewModel

@{
	var currentUser = ViewData["CurrentUser"] as Models.Entities.User;
}

<head>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<link rel="stylesheet" href="~/css/charactercreation.css" asp-append-version="true" />
</head>

<body>
	<div class="container">

		<div class="left-banner-top"><div>a</div></div>
		<div class="main-content-top"><div>b</div></div>
		<div class="right-banner-top"><div>c</div></div>

		<div class="left-banner-mid"><div>d</div></div>

		<div class="main-content">
			@if (currentUser != null)
			{
				if (ViewBag.SuccessMessage != null)
				{
					<div>
						@ViewBag.SuccessMessage
					</div>
				}

				<div class="create-character-container" id="create-character-container">
					<form method="post" asp-action="CreateCharacter">

						<div class="form-group">
							<select asp-for="CharacterCreationDto.Gender" id="InputGender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>

						<div class="form-group">
							<select asp-for="CharacterCreationDto.ClassName" id="InputClass">
								<option value="Knight">Knight</option>
								<option value="Guardian">Guardian</option>
								<option value="Berserker">Berserker</option>
							</select>
						</div>


						<div class="attributes-container">
							<div class="row mb-8 justify-content-center ">
								<div class="col-md-6 col-12">
									<div class="mb-4 border-bottom pb-2">
										<h4 class="mb-0">Attributes</h4>
										<h4 class="mb-0">Points left: {{ pointsLeft }}</h4>
										<h4> test: {{ getStrength }} </h4>
									</div>
									<div class="row">



										@*should probably loop the following instead*@

										<div class="col-12">
											<div class="d-flex justify-content-between">
												<div>
													<h5 class="text-dark prevent-select">Strength</h5>
												</div>
												<div class="input-group w-auto justify-content-end align-items-center">
													<input type="hidden" asp-for="CharacterCreationDto.Strength" v-bind:value="getStrength" name="CharacterCreationDto.Strength">

													<input type="button" value="-" class="btn btn-outline-dark" data-field="quantity" v-on:click="decrementAttribute('strength')">
													<input type="text" readonly class="quantity-field border-0 text-center w-25" v-model="getStrength" min="8" step="1" max="18" name="quantity">
													<input type="button" value="+" class="btn btn-outline-dark" v-on:click="incrementAttribute('strength')">
												</div>
											</div>
										</div>

										<div class="col-12">
											<div class="d-flex justify-content-between">
												<div>
													<h5 class="text-dark prevent-select">Constitution</h5>
												</div>
												<div class="input-group w-auto justify-content-end align-items-center">
													<input type="hidden" asp-for="CharacterCreationDto.Constitution" v-bind:value="getConstitution" name="CharacterCreationDto.Constitution">

													<input type="button" value="-" class="btn btn-outline-dark" data-field="quantity" v-on:click="decrementAttribute('constitution')">
													<input type="text" readonly class="quantity-field border-0 text-center w-25" v-model="getConstitution" min="8" step="1" max="18" name="quantity">
													<input type="button" value="+" class="btn btn-outline-dark" data-field="quantity" v-on:click="incrementAttribute('constitution')">
												</div>
											</div>
										</div>

										<div class="col-12">
											<div class="d-flex justify-content-between">
												<div>
													<h5 class="text-dark prevent-select">Dexterity</h5>
												</div>
												<div class="input-group w-auto justify-content-end align-items-center">
													<input type="hidden" asp-for="CharacterCreationDto.Dexterity" v-bind:value="getDexterity" name="CharacterCreationDto.Dexterity">

													<input type="button" value="-" class="btn btn-outline-dark" data-field="quantity" v-on:click="decrementAttribute('dexterity')">
													<input type="text" asp-for="CharacterCreationDto.Dexterity" readonly class="quantity-field border-0 text-center w-25" v-model="getDexterity" min="8" step="1" max="18" name="quantity">
													<input type="button" value="+" class="btn btn-outline-dark" data-field="quantity" v-on:click="incrementAttribute('dexterity')">
												</div>
											</div>
										</div>

										<div class="col-12">
											<div class="d-flex justify-content-between">
												<div>
													<h5 class="text-dark prevent-select">Intelligence</h5>
												</div>
												<div class="input-group w-auto justify-content-end align-items-center">
													<input type="hidden" asp-for="CharacterCreationDto.Intelligence" v-bind:value="getIntelligence" name="CharacterCreationDto.Intelligence">

													<input type="button" value="-" class="btn btn-outline-dark" data-field="quantity" v-on:click="decrementAttribute('intelligence')">
													<input type="text" asp-for="CharacterCreationDto.Intelligence" readonly class="quantity-field border-0 text-center w-25" v-model="getIntelligence" min="8" step="1" max="18" name="quantity">
													<input type="button" value="+" class="btn btn-outline-dark" data-field="quantity" v-on:click="incrementAttribute('intelligence')">
												</div>
											</div>
										</div>

										<div class="col-12">
											<div class="d-flex justify-content-between">
												<div>
													<h5 class="text-dark prevent-select">Wisdom</h5>
												</div>
												<div class="input-group w-auto justify-content-end align-items-center">
													<input type="hidden" asp-for="CharacterCreationDto.Wisdom" v-bind:value="getWisdom" name="CharacterCreationDto.Wisdom">

													<input type="button" value="-" class="btn btn-outline-dark" data-field="quantity" v-on:click="decrementAttribute('wisdom')">
													<input type="text" asp-for="CharacterCreationDto.Wisdom" readonly class="quantity-field border-0 text-center w-25" v-model="getWisdom" min="8" step="1" max="18" name="quantity">
													<input type="button" value="+" class="btn btn-outline-dark" data-field="quantity" v-on:click="incrementAttribute('wisdom')">
												</div>
											</div>
										</div>

										<div class="col-12">
											<div class="d-flex justify-content-between">
												<div>
													<h5 class="text-dark prevent-select">Charisma</h5>
												</div>
												<div class="input-group w-auto justify-content-end align-items-center">
													<input type="hidden" asp-for="CharacterCreationDto.Charisma" v-bind:value="getCharisma" name="CharacterCreationDto.Charisma">

													<input type="button" value="-" class="btn btn-outline-dark" data-field="quantity" v-on:click="decrementAttribute('charisma')">
													<input type="text" asp-for="CharacterCreationDto.Charisma" readonly class="quantity-field border-0 text-center w-25" v-model="getCharisma" min="8" step="1" max="18" name="quantity">
													<input type="button" value="+" class="btn btn-outline-dark" data-field="quantity" v-on:click="incrementAttribute('charisma')">
												</div>
											</div>
										</div>



									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="CharacterName">Character name</label>
							<input asp-for="CharacterCreationDto.CharacterName" type="text" class="form-control" id="InputCharacterName">
						</div>

						<input asp-for="CharacterCreationDto.Username" type="hidden" class="form-control" id="InputUser" value="@currentUser.UserName">

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>



				</div>
			}
		</div>

		<div class="right-banner-mid"><div>f</div></div>

		<div class="left-banner-bot"><div>g</div></div>
		<div class="main-content-bot"><div>h</div></div>
		<div class="right-banner-bot"><div>i</div></div>


	</div>

	<script src="~/js/charactercreation.js"></script>

</body>