@using Models.DTOs
@{
	var currentUser = ViewData["CurrentUser"] as Models.Entities.User;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Shadows of Distrea</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Fantasy_Land_Web_Client.styles.css" asp-append-version="true" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Bebas+Neue&family=Playfair:wght@300&family=Slackside+One&display=swap" rel="stylesheet">

</head>
<body>


	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Distrea</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">

						@if (currentUser == null)
						{
							<li class="nav-item dropdown">
								<a class="nav-link text-dark dropdown-toggle" id="login-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log in</a>
								<div class="dropdown-menu" aria-labelledby="login-button">
									@await Html.PartialAsync("~/Views/Account/Login.cshtml", new UserLoginViewModel())
								</div>

							</li>

							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Index">Play</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Character" asp-action="Index">Characters</a>
							</li>

						}

					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="render-body-container">
		@RenderBody()
	</div>

	<footer class=""></footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
