@using Models.Images
@model List<Portrait>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/chooseportrait.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/createcharacter.css" asp-append-version="true" />
</head>

<body>

	@if (Model != null)
	{
		<div class="create-character-portrait-container">
			<div class="portrait-slider">
				<button class="btn-left-portrait" onclick="plusDivs(-1)">&#10094;</button>
				<div class="portrait-items">
					<h2>Portrait</h2>
					@foreach (var p in Model)
					{
						string base64String = Convert.ToBase64String(p.ImageData);
						<div class="portrait-container">
							<img class="portait" src="data:image/png;base64,@base64String" alt="@p.Gender-image" data-portait-id="@p.Id" />
						</div>
					}
				</div>
				<button class="btn-right-portrait" onclick="plusDivs(+1)">&#10095;</button>
			</div>
		</div>
		<hr />
		<button id="go-back-port-btn">Go Back</button>
		<button id="next-port-btn">Next</button>
	}


	<script type="module" src="~/js/shared-data.js"></script>
	<script src="~/js/chooseportrait.js"></script>
</body>